body {
  background-image: url('../img/clouds.jpg');
  background-attachment: fixed;
  background-size: 100%;
  background-color: lightblue;
}

#container {
  width: 50%;
  margin: auto;
  color: white;
  padding: 8%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#search {
  text-align: left;
  margin-top: 10%;
}

#results {
  background-color: white;
  color: darkblue;
  padding: 5%;
  border-radius: 5%;
}

form {
  display: table;
}

.table-row {
  display: table-row;
}

label {
  display: table-cell;
}

input {
  background: transparent;
  border-top: none;
  border-left: none;
  display: table-cell;
  margin-left: 10%;
  font-weight: bolder;
}

input:focus {
  background: white;
}

button {
  background: silver;
}
