body {
  background-image: url('../img/clouds.jpg');
  background-size: 100%;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

#container {
  width: 50%;
  margin: auto;
  color: white;
  padding: 10%;
}

#search {
  text-align: left;
  margin-top: 10%;
  border-radius: 40%;
}

input, button {
  border-top: none;
  border-left: none;
}

input {
  background: transparent;
}

button {
  background: white;
}
